body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    background-color: bisque;
    color: #333;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

nav a:hover {
    text-decoration: underline;
}
nav a.active {
            border-bottom: 2px solid #fff;
            font-weight: bold;
        }   
.container {
    max-width: 600px;
    margin: 100px auto 20px; /* This creates space below the fixed navbar */
    background: white;
    padding: 5em;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.contact-info {
    margin-top: 20px;
    text-align: center;
}

p {
    text-align: center;
}
