@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');     
        
body {
    height: 100vh;  
    background: url('https://images.unsplash.com/photo-1501594907352-04cda38ebc29') 
        no-repeat center center/cover;
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*Fonts*/
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

h1 {
    font-size: 120px;
    color: white;
    display: flex;
    text-align: center;
    font-weight: bold;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.336);
    padding-bottom: 1em;
}

h2 {
    font-weight: bold;
    color: #333;
    position: fixed;
    width: 100%;
}

/* Sidebar Styles */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #393f3f;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 20px;
    text-decoration: none;
    font-size: 23px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
    text-decoration: underline;
}

.sidebar .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 0;
}

.lines {
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 2;
}

.sidebar.open {
    width: 250px;
}

.overlay.open {
    display: block;
}

nav {
  position: fixed;         
  top: 0;                  
  left: 0;                
  width: 100%;  
  background-color: #393f3f;           
  background: rgba(57, 63, 63, 0.3); 
  backdrop-filter: blur(10px);          
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 15px 20px;   
  height: 35px; 
  line-height: 80px;  
  font-weight: bold;
  font-size: 30px;
  color: white;
  letter-spacing: 10px;
  text-align: center;   
}

.active {
    text-decoration: underline;
}