
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            color: #333;
        }
        nav {
            background-color: #333;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            color: white;
            padding: 10px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .back-button {
            font-size: 18px;
            text-decoration: none;
            color: white;
            padding: 5px 10px;
            border-radius: 4px;
            background-color: rgba(255, 255, 255, 0.2);
        }
        .back-button:hover {
            background-color: rgba(255, 255, 255, 0.4);
        }
        .title {
            font-size: 24px;
            font-weight: bold;
            flex-grow: 1;
            text-align: center;
            padding-right: 3em;
        }
        h1{
            display: flex;
            justify-content: center;
            text-align: center;
            align-self: center;
        }
        p{
            display: flex;
            justify-content: center;
            text-align: center;
            align-self: center;
        }

        